html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

input,
button,
textarea {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input::placeholder {
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  display: block;
  resize: none;
}

body {
  font-size: 14px;
  line-height: 19px;
  color: #242424;
  width: 100%;
  font-family: 'Manrope', arial, sans-serif;
}

.container {
  max-width: 1325px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

section {
  padding: 100px 0;
}

.sec_tit {
  cursor: pointer;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  margin: 0 auto;
}

.color {
  color: #BE963F;
}

.dib {
  display: inline-block;
}

.hover {
  transition: 0.3s;
}

.hover:hover {
  color: #BE963F;
}

.btn {
  cursor: pointer;
  width: 140px;
  padding: 10px;
  margin: 0 15px 15px 0;
  background: #E8F9EC;
  border-radius: 10px;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #34280E;
  height: 85px;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

}

.btn:nth-child(2) {
  background: #F3EDFC;
}

.btn:nth-child(3) {
  background: rgb(231, 247, 253);
}

.btn:nth-child(4) {
  background: rgb(255, 250, 233);
}

.btn:nth-child(6) {
  background: rgb(255, 233, 239);
}

.btn:nth-child(7) {
  background: rgb(231, 247, 253);
}

.btn:nth-child(8) {
  background: #F3EDFC;
}

.btn:nth-child(9) {
  background: rgb(255, 250, 233);
}

.btn:nth-child(11) {
  background: rgb(255, 233, 239);
}

.btn:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 15px 0px rgba(10, 19, 49, 0.12);
}

.link {
  transition: 0.3s;
}

.link:hover {
  box-shadow: 0px 6px 5px 2px #836A36;
}

.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.card {
  background: #F5F5F5;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  width: 400px;
  padding: 23px 21px 87px 21px;
  flex-direction: column;
  margin-bottom: 30px;
  height: 580px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card:hover {}

img {
  border-radius: 8px 8px 0 0;
  max-width: 350px;
  height: 300px;
  margin-bottom: 34px;
}

.card_tit {
  gap: 30px;
  margin-bottom: 20px;
}

.filter_mark-wrap {
  display: none;
}

.card_mark {
  font-weight: 700;
  font-size: 26px;
}

.card_model {
  width: 287px;
  height: 52px;
  left: 0%;
  right: 8.37%;
  top: -1.06px;
  bottom: 91.33px;
}

.card_dollar {
  margin-bottom: 20px;
}

.card_dollar {
  color: rgb(30, 33, 44);
  font-size: 16px;
  margin-top: 15px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.card_som::before {
  content: "сом"
}

.card_som {
  margin-bottom: 20px;
}

.card_year::before {
  content: "год:"
}

.card_volume::before {
  content: 'обьем:'
}

.card_volume {
  margin-bottom: 20px;
}

.card_info::before {
  font-weight: 700;
  font-size: 20px;
  content: 'Описание:'
}

.card_info {
  /* base/regular */
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
}

.active {
  fill: red;
}

.card_img {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.card_img img {
  min-width: 100%;

  min-height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.sec_dec {
  margin-bottom: 30px;
  font-size: 18px;
}

.filter_model {
  margin-bottom: 20px;
  justify-content: flex-start;
}

.card_imges img {
  height: 35px;
  width: 35px;
  transition: 0.3s;
}

.svg .qwer:hover {
  fill: red;
}

.svg .qwer:active {
  fill: red;
}

.card_imges svg {
  width: 35px;
  height: 35px;
  fill: red;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.card_img,
.info {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 475px;
  -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_img {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .card_img {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  margin-top: 80px;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .info {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-top: 80px;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

/* при отображении модального окно */
.modal:target {
  opacity: 1;
  /* делаем окно видимым */
  pointer-events: auto;
  /* элемент видим для событий мыши */
  overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
    /* для отображения модального окна по центру */
  }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  height: 250px;
  border-radius: .3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
}

/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.25rem;
  font-weight: 700;

}

/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.button {
  width: 200px;
  transition: 0.3s;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30%;
  border-radius: 25px;
  background: rgb(48, 181, 108);
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  position: relative;
}

.button:active {
  transform: scale(0.96);
}

.button::before,
.button::after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgb(48, 181, 108) 15%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%);
  background-size: 10px 10px, 20px 20px, 15px 15px, 20px 20px, 18px 18px, 10px 10px, 15px 15px, 10px 10px, 18px 18px;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }

}

.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, rgb(48, 181, 108) 15%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%),
    radial-gradient(circle, rgb(48, 181, 108) 20%, transparent 20%);
  background-size: 15px 15px, 20px 20px, 18px 18px, 20px 20px, 15px 15px, 20px 20px, 18px 18px, ;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%, ;
  }

  50% {
    background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%, ;
  }

  100% {
    background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%, ;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }

}

input {
  border: 1px solid #00000059;
  border-radius: 6px;
  padding: 10px 40px 70px 10px;

}